<!DOCTYPE html>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/workouts}]]";
    }
</script>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sperran</title>
</head>
<body>


<form th:action="@{/workouts}">
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form>
Welcome,

<p th:text="${LoggedInUser.username}"></p>

<div th:switch="${workouts}">
    <h2 th:case="null">No workouts yet!</h2>
    <div th:case="*">
        <h2>Workouts</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Duration</th>
                <th>Description</th>
                <th>Open Workout</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="workout : ${workouts}">
                <td th:text="${workout.title}"></td>
                <td th:text="${workout.duration}"></td>
                <td th:text="${workout.description}"></td>
                <td><a th:href="@{/workout/{id}(id=${workout.ID})}">Open Workout</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addWorkout">Add a new workout</a></p>

    <form th:action="@{/myWorkouts}" method="post">
        <input type="submit" value="My Workouts" />
    </form>

    <form th:action="@{/settings}" method="post">
        <input type="submit" value="Settings" />
    </form>
</div>



</body>
</html>

