<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:Duration="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${workout.title}"></h2>
<h3 >Duration: </h3>
<h3 th:text= "${workout.duration}"></h3>

<table>
    <thead>
    <tr>
        <th>Exercises</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>kg</th>
        <!-- Bæta við delete-->
    </tr>
    </thead>
    <!-- Bæta við delete-->
    <tbody>
    <tr th:each="exercise_combos : ${ExerciseCombo}">
        <td th:text="${exercise_combos.exercise_title}"></td>
        <td th:text="${exercise_combos.sets}"></td>
        <td th:text="${exercise_combos.reps}"></td>
        <td th:text="${exercise_combos.kg}"></td>
        <!-- Bæta við delete-->
    </tr>
    </tbody>
</table>
<p><a th:href="@{/workout/addExercise/{id}(id=${workout.ID})}">Add Exercise</a></p>



</body>
</html>