<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:Duration="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${workout.title}"></h2>
<h3 >Duration: </h3>
<h3 th:text= "${workout.duration}"></h3>

<table>
    <thead>
    <tr>
        <th>Exercises</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>kg</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="workout : ${workouts}">
        <td th:text="${workout.title}"></td>
        <td th:text="${workout.duration}"></td>
        <td th:text="${workout.description}"></td>
        <td><a th:href="@{/workout/{id}(id=${workout.ID})}">Open Workout</a></td>
        <td><a th:href="@{/delete/{id}(id=${workout.ID})}">Delete</a></td>
    </tr>
    </tbody>
</table>

<p><a href="/addExerciseCombo">Add a exercise</a></p>

</body>
</html>